/* Maddy coding */

/* Base Styles for all pages */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Header Styles */
header {
  padding: 2rem;
}

body {
  background: #f0f3fb;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
    background: #f0f3fb;
}

section.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Custom Button Styles applies to all */
.btn-primary {
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 99px;
  background: #3a5bc7;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  display: block;
  
}

/* Small Button Styles A-Z navbar */
.btn-sm {
  height: 40px;
  border-radius: 50%;
  border: none;
  border-radius: 99px;
  background: #3a5bc7;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

/* Text Colors */
/* Heading */
.text-primary {
  color: #3a5bc7 !important;
}

/* Subtext */
.text-secondary {
  color: #5a6a8a !important;
}

/* Labels */
.form-label {
  color: #1a2a6c !important;
}



/* Makes the text green for success messages */
.success {
  color: green;
}

/* Report Details, this puts the detailed texts into boxes */
.reportDetails p {
  background-color: #c8d4ec;
  padding: 20px;
  border-radius: 15px;
}

/* adding spacing */
div.review-report {
  padding: 20px;
  border-radius: 15px;

}

.statusReport p.comment {
  padding: 1.5rem;
    background-color: #c8d4ec;
  border-radius: 15px;
}

footer.footer {
  padding: 1rem;
  text-align: center;
  background:  #7a8ec4;
  color: #5a6a8a;
  font-size: 14px;
}